* {
   box-sizing: border-box;
 }
 
 body {
   font-size: 14px;
   letter-spacing: 0.02em;
   line-height: 1.4;
   font-family: Helvetica, sans-serif;
   background-color: #FCEEDA;
   color: black;
   margin: 0;
   padding: 0 30px;
   font-family: 'Space Mono', monospace;
   text-rendering: geometricprecision;
   -webkit-font-smoothing: subpixel-antialiased;  
 }
 
 h1 {
   font-size: 100px;
   line-height: 0.95;
   letter-spacing: -0.04em;
   text-align: center;
   position: sticky;
   top: 0;
   margin: 0 0 1em;
   padding-top: 1em;
   font-family: 'Darker Grotesque', sans-serif;
 }
 
 img {
   width: 100%;
   max-width: 100%;

 }
 
 ul {
   list-style: none;
   margin: 0;
   padding: 0 4px;
   display: flex;
   flex-direction: column;
   gap: 7px;
 }
 
 a {
   color: #00ff57;
   font-weight: bold;
   text-transform: uppercase;
 }

 
 #notes-list {
   position: relative;
   z-index: 1;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-bottom: 100px;
 }
 
 .note {
   border: 1px solid #595959;
   border-radius: 7px;
   background-color: rgba(0 0 0 / 0.5);
   backdrop-filter: blur(4px);
   padding: 12px;
 }
 
 .note img {
   border-radius: 4px;
   margin-bottom: 20px;
 }
 #text {
  position: fixed;
  margin-top: 2vh;
  margin-left: 4vw;
  z-index: 2;
  font-size: 20pt;
  font-family: 'Darker Grotesque', sans-serif;
}
 h1 {
  font-size: 100px;
  letter-spacing: -0.04em;
  text-align: left;
  top: 0;
  z-index: 6;
  position: fixed;
  font-family: 'Darker Grotesque', sans-serif;
  letter-spacing: +2px;
}
h2 {
  font-size: 100px;
  letter-spacing: -0.04em;
  text-align:right;
  width: 95vw;
  z-index: 6;
  top: 0px;
  position: fixed;
  letter-spacing: +2px;
  font-family: 'Darker Grotesque', sans-serif;
}



h4 {
  font-size: 100px;
  letter-spacing: -0.04em;
  text-align: left;
  top: 0px;
margin-top:  80vh;
  z-index: 1;
  position: fixed;
  letter-spacing: +2px;
  font-family: 'Darker Grotesque', sans-serif;
}
h5 {
  font-size: 100px;
  letter-spacing: -0.04em;
  text-align:right;
  top: 0;
  margin-top:  80vh;
  width: 95vw;
  z-index: 1;
  position: fixed;
  letter-spacing: +2px;
  font-family: 'Darker Grotesque', sans-serif;
}

